* {
    box-sizing: border-box;
    font-family: "graphik-regular";
    color: rgb(34, 34, 34);
}

body {
    width: 100%;
    padding-bottom: 1000px;

}

body,
p,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
svg {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: "graphik-regular";
    src: url(assets/fonts/Graphik-Regular-Web.woff2);
}

@font-face {
    font-family: "graphik-medium";
    src: url(assets/fonts/Graphik-Medium-Web.woff2);
}

@font-face {
    font-family: "graphik-light";
    src: url(assets/fonts/Guardian-EgypTT-Light.woff2);
}